<div class="box1">
  <h1>Travis Addington</h1>
  <h3>Managing Member</h3>
  <img src="/images/travis.jpg" alt="" class="img1" />

  <ul>
    <li>Over 20 years experience in turf management</li>
    <li>15 years experience in golf course maintenance and management</li>
    <li>5 years experience in private residential lawn care management</li>
    <li>Missouri Applicators License</li>
    <li>Licensed to Treat Ponds for Algae and Weeds</li>
    <li>Licensed and insured for commercial and residential</li>
  </ul>
</div>
